@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --branco-secundario: #F9F9F9;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #3c92fa;
    --font-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__titulo {
    font-family: var(--font-principal);
    color: var(--branco-principal);
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em	0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    padding: 1em;
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.container__caixa {
    margin: 0 6em;
}

.secundario {
    align-items: center;
    justify-items: center;
    margin: 0 15em;
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    padding: 3.8em;
}

.descricao__titulo {
    font-family: var(--font-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.descricao__texto {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    padding: 1.1em 1em;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
    font-family: var(--font-principal);
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    font-weight: 700;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 3em 0;
}

.lista__item {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 10em 10em 6em 10em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-weight: 400;
}

.lista__link {
    margin-left: 1em;
}

.lista__link a {
    color: var(--branco-principal);
    font-weight: 100;
    text-decoration: none;
}

.rodape__texto {
    font-family: var(--font-principal);
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 2em 12em 0 12em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape {
        margin: 0;
    }

    .rodape__lista {
        display: block;
    }

    .lista__link {
        margin: 0 0 1em 0;
    }

    .rodape__texto {
        margin: 2em 2em;
    }

    .rodape__texto:last-child {
        margin-bottom: 5em;
    }
}